<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static',filename = 'style2.css')}}">
</head>

<body>
  <div id="wrap">
    <div class="card">
      <div class="card-inner">
        
        <div class="intro">
          <div class="intro-img">
          </div>
          <div class="intro-txt">
            <h2>황재중</h2> 
            <p>
              1996.12.09(28세)<br>
              Email : jeajoong1209@naver.com<br>
              blog : https://jasonblog.tistory.com/<br>
            </p>
          </div>
        </div>

        <div class="about">
          <div class="about-txt">
            <h2>About us</h2>
            <p>
              능동적인 개발자 황재중입니다.<br>
              Web frontend 공부를 하면서<br>
              주도적인 학습의 습관을 가지고 있습니다.<br>
              모르면 알때까지 해결하는 자세를 가지면서<br>
              팀원의 의견을 존중하며 소통하는 스타일입니다.<br>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>